<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header :: header"><title>Create</title></head>
<body>
<div th:insert="fragments/navigation :: navigation"></div>
<div class="container">
    <form class="mt-3" th:action="@{/accidents/create}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label"><b>Title</b></label>
            <input type="text" class="form-control" id="name" name="name"
                   placeholder="Accident title">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label"><b>Address</b></label>
            <input type="text" class="form-control" id="address" name="address"
                   placeholder="Accident address">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label"><b>Description</b></label>
            <textarea class="form-control" id="description" rows="10" name="description"
                      placeholder="Accident description"></textarea>
        </div>

        <div class="mb-3">
            <label for="type"><b>Accident Type</b></label>
            <select class="form-control" id="type" name="type.id">
                <option th:each="type : ${types}"
                        th:value="${type.id}" th:text="${type.name}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label"><b>Rules</b></label>
            <div class="form-check" th:each="rule : ${rules}">
                <input class="form-check-input"
                       type="checkbox"
                       name="ruleIds"
                       th:id="'rule-' + ${rule.id}"
                       th:value="${rule.id}">
                <label class="form-check-label"
                       th:for="'rule-' + ${rule.id}"
                       th:text="${rule.name}">
                </label>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-6"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6"><a class="btn btn-danger w-100"
                                          th:href="@{/accidents/list}">Cancel</a></div>
                    <div class="col-6">
                        <button class="btn btn-primary w-100"
                                type="submit">Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>
